body {
    background-color: #a3e683;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

.main {
    background-color: #7bcd48;
    text-align: center;
    padding: 4vw;
    margin: 8vw;
}

.img {
    width: 50vw;
    height: auto;
}


.recipes-nav {
    padding: 1vw;
    margin: 1vw;
}


.un-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.recipes-nav a {
    text-decoration: none;
    color: #fff;
}


.recipes-nav a:hover {
    text-decoration: underline;
    color: #447526;
}